@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background-color: #18181E;
}

.about-main1 {
    display: flex;
    flex-direction: row;
    align-content: space-between
}

.section-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-right: 10px;
    /*width: 600px;*/
    flex: 1;
    height: 450px;
    color: #DEC79B
}

.about-info {
    padding: 10px;
    border: 1px solid #DEC79B;
    font-family: 'Quicksand', sans-serif;
}

.section-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin-right: 20px;
    margin-left: 10px;
    line-height: 2.0;
    letter-spacing: 0.2em;
    text-align: center;
    color: #DEC79B;
    font-family: 'Quicksand', sans-serif;
}

.about-main2 {
    display: flex;
    flex-direction: column;
    align-content: space-between
}

.section-3 {
    text-align: center;
    color: #DEC79B;
    font-family: 'Quicksand', sans-serif;
}

.section-4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section-4-1 {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 10px;
    margin-left: 10px;
    color: #DEC79B;
    align-items: center;
}

.section-4-2 {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 10px;
    margin-left: 10px;
    color: #DEC79B;
    align-items: center;
}

.section-4-3 {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 10px;
    margin-left: 10px;
    color: #DEC79B;
    align-items: center;
}


.title {
    color: #DEC79B
}