@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

.services-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background-color: #18181E;
    font-family: 'Quicksand', sans-serif;
}

.services-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #DEC79B;
    text-align: center;
}

.s-section-1 {
    margin-bottom: 40px;
}

.s-section-2 {
    margin-bottom: 40px;
}

.s-section-2 p {
    margin-right: 10px;
    margin-left: 10px;
    line-height: 2.0;
    letter-spacing: 0.1em;
}

.s-section-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.s-section-3-1 {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 30px;
    margin-left: 30px;
    color: #DEC79B;
    align-items: center;
}

.s-section-3-2 {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 30px;
    margin-left: 30px;
    color: #DEC79B;
    align-items: center;
}

.s-section-4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.s-section-4-1 {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 30px;
    margin-left: 30px;
    color: #DEC79B;
    align-items: center;
}

.s-section-4-2 {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 30px;
    margin-left: 30px;
    color: #DEC79B;
    align-items: center;
}

@media (min-width: 320px) and (max-width: 480px) {
    .s-section-3 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .s-section-4 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 20px;
    }
  }

.title {
    color: #DEC79B
}